@model AdHolder.Models.Login
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-wrapper">
                <div class="box">
                    @using (Ajax.BeginForm("Login", "Account",
                       new AjaxOptions()
                       {
                           OnSuccess = "onSuccess",
                           HttpMethod = "POST",
                           OnFailure = "onFailure"
                       }, new { @class = "form-horizontal" }))
                    { 

                        <div class="content-wrap">
                            <h6>Sign In</h6>
                            @*<input class="form-control" type="text" placeholder="E-mail address">*@
                            @Html.TextBoxFor(t => t.Email, new { @class = "form-control", @placeholder = "E-mail address" })
                            @Html.ValidationMessageFor(t => t.Email)

                            @*<input class="form-control" type="password" placeholder="Password">*@
                            @Html.TextBoxFor(t => t.Password, new { @class = "form-control", @placeholder = "Password", @type = "password" })
                            @Html.ValidationMessageFor(t => t.Password)

                            <div class="action">
                                <input type="submit" class="btn btn-primary signup" value="Login" />
                            </div>
                        </div>
                    }
                </div>

                <div class="already">
                    <p>Don't have an account yet?</p>
                    <a href="@Url.Action("RegisterIndex", "Account")">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function onSuccess(data) {
        if (data == "success") {
            window.location.href = '/Home/index';
        }
        else if (data == "notAuth") {
            alert("Not Auth.");
        }
        else if (data == "notAdmin") {
            alert("Your are not an Admin");
        }
        else {
            alert("Please enter data properly");
        }
    }

    function onFailure(data) {
    }
</script>